---
import Layout from "@/layouts/Layout.astro";
import PostfileCard from '@/components/ProfileCard.astro'
import '../styles/globals.css'
import AboutCard from "@/components/AboutCard.astro";
---

<Layout title="Dirtsai's Blog">
    <div class="flex flex-col max-w-7xl mt-8 lg:flex-row lg:pt-20 px-2 w-[85vw] mx-auto min-w-[320px]">
        <div class="w-full lg:w-4/5 p-1 mb-6 transition-all duration-300 ease-linear">
            <AboutCard />
        </div>
        <div class="w-full lg:w-1/5  transition-all duration-300 ease-linear">
            <PostfileCard />
        </div>
    </div>
</Layout>
