---
import { getCollection } from "astro:content";
import H1 from "../components/H1.astro";
import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
const posts = await getCollection("posts")
import '../styles/globals.css'

---
<Layout title="Blog">
    <Main>
        <H1 text="xixi" />
        <PostList posts={posts} />
    </Main>
</Layout>
