---
import Layout from '../layouts/Layout.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro'
import '../styles/globals.css'
---

<Layout title="Dirtsai's Blog">
	<Main>
		<H1 text="czl" />
		
	</Main>
</Layout>

