
<footer class=" text-foreground py-4 mt-auto  ">
    <div class="container mx-auto flex justify-center items-center">
        <p class="text-sm">&copy; 2023 - 2024 by Dirtsai</p>
        <p class="text-sm p-2">Power by <a href="https://astro.build/">Astro</a></p>

    </div>
</footer>