---
import { Button } from "@/components/ui/button";
import Search from "astro-pagefind/components/Search";

import ThemeToggle from "./ThemeToggle.astro";
---

<header
    class="flex items-center justify-between p-2 bg-background/30 px-4 sm:px-8
                fixed top-0 left-0 right-0 z-50
                transition-all duration-300 ease-linear shadow-md rounded-lg"
>
    <a href="/" class="flex items-center space-x-2 sm:space-x-4">
        <img src="/veg.png" alt="Logo" class="h-8 w-8 sm:h-10 sm:w-10" />
        <p class="text-lg sm:text-xl font-bold">DIRTSAI</p>
    </a>
    
    <nav class="hidden sm:flex items-center space-x-4">
        <div class="search-wrapper">
            <Search
                id="search"
                className="pagefind-ui pagefind-ui--custom"
                uiOptions={{ showImages: false }}
            />
        </div>
        <ThemeToggle />
        <Button asChild variant="link">
            <a
                href="/"
                class="text-xl font-bold
              relative
              inline-block
              group"
            >
                Home
                <span
                    class="absolute left-0 bottom-[-8px]
                w-full h-1
                bg-teal-500
                origin-top
                scale-y-0
                group-hover:scale-y-100
                transition-transform duration-300 ease-linear
                before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0
                before:bg-teal-500 before:scale-y-0 before:origin-bottom
                group-hover:before:scale-y-100 before:transition-transform before:duration-300 before:ease-out"
                ></span>
            </a>
        </Button>
        <Button asChild variant="link">
            <a
                href="/tags"
                class="text-xl font-bold
              relative
              inline-block
              group"
            >
                Tags
                <span
                    class="absolute left-0 bottom-[-8px]
                w-full h-1
                bg-teal-500
                origin-top
                scale-y-0
                group-hover:scale-y-100
                transition-transform duration-300 ease-linear
                before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0
                before:bg-teal-500 before:scale-y-0 before:origin-bottom
                group-hover:before:scale-y-100 before:transition-transform before:duration-300 before:ease-out"
                ></span>
            </a>
        </Button>
        <Button asChild variant="link">
            <a
                href="/blog"
                class="text-xl font-bold
              relative
              inline-block
              group"
            >
                Blog
                <span
                    class="absolute left-0 bottom-[-8px]
                w-full h-1
                bg-teal-500
                origin-top
                scale-y-0
                group-hover:scale-y-100
                transition-transform duration-300 ease-linear
                before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0
                before:bg-teal-500 before:scale-y-0 before:origin-bottom
                group-hover:before:scale-y-100 before:transition-transform before:duration-300 before:ease-out"
                ></span>
            </a>
        </Button>
        <Button asChild variant="link">
            <a
                href="/about"
                class="text-xl font-bold
              relative
              inline-block
              group"
            >
                About
                <span
                    class="absolute left-0 bottom-[-8px]
                w-full h-1
                bg-teal-500
                origin-top
                scale-y-0
                group-hover:scale-y-100
                transition-transform duration-300 ease-linear
                before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:bottom-0
                before:bg-teal-500 before:scale-y-0 before:origin-bottom
                group-hover:before:scale-y-100 before:transition-transform before:duration-300 before:ease-out"
                ></span>
            </a>
        </Button>
    </nav>

    <div class="flex items-center space-x-4 sm:hidden">
        <ThemeToggle className="z-50"/>
        <button id="menu-toggle" class="z-50">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
</header>

<div
    id="mobile-menu"
    class="fixed inset-0 bg-background/95 z-40 hidden items-center justify-center sm:hidden"
>
    <div class="flex flex-col items-center w-full max-w-sm mx-auto">
        <div class="search-wrapper mb-8 w-full">
            <Search
                id="mobile-search"
                className="pagefind-ui pagefind-ui--custom"
                uiOptions={{ showImages: false }}
            />
        </div>
        <Button asChild variant="link" className="mb-4 w-full">
            <a href="/" class="text-xl font-bold">Home</a>
        </Button>
        <Button asChild variant="link" className="mb-4 w-full">
            <a href="/tags" class="text-xl font-bold">Tags</a>
        </Button>
        <Button asChild variant="link" className="mb-4 w-full">
            <a href="/blog" class="text-xl font-bold">Blog</a>
        </Button>
        <Button asChild variant="link" className="mb-4 w-full">
            <a href="/about" class="text-xl font-bold">About</a>
        </Button>
    </div>
</div>

<script>
    function setupHeaderScroll() {
        let lastScrollY = window.scrollY;
        const header = document.querySelector("header");
        const stickyWrapper = document.getElementById("sticky-wrapper");

        if (header) {
            const updateHeaderHeight = () => {
                const headerHeight = header.offsetHeight;
                document.documentElement.style.setProperty(
                    "--header-height",
                    `${headerHeight}px`,
                );
            };

            const updateHeader = () => {
                const currentScrollY = window.scrollY;
                if (window.innerWidth > 640) {
                    // 只在大屏幕上应用
                    if (currentScrollY > lastScrollY + 10) {
                        // 添加阈值
                        header.classList.add("-translate-y-full");
                        header.classList.remove("translate-y-0");
                    } else if (currentScrollY < lastScrollY - 10) {
                        header.classList.add("translate-y-0");
                        header.classList.remove("-translate-y-full");
                    }
                } else {
                    header.classList.add("translate-y-0");
                    header.classList.remove("-translate-y-full");
                }
                lastScrollY = currentScrollY;
            };

            window.addEventListener("scroll", updateHeader);
            window.addEventListener("resize", updateHeaderHeight);
            updateHeaderHeight();
            updateHeader();
        }
    }

    function setupMobileMenu() {
        const menuToggle = document.getElementById("menu-toggle");
        const mobileMenu = document.getElementById("mobile-menu");

        if (menuToggle && mobileMenu) {
            menuToggle.addEventListener("click", () => {
                if (mobileMenu.classList.contains("hidden")) {
                    mobileMenu.classList.remove("hidden");
                    mobileMenu.classList.add("flex");
                    menuToggle.innerHTML =
                        '<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>';
                } else {
                    mobileMenu.classList.add("hidden");
                    mobileMenu.classList.remove("flex");
                    menuToggle.innerHTML =
                        '<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" /></svg>';
                }
            });
        }
    }

    document.addEventListener("astro:page-load", () => {
        setupHeaderScroll();
        setupMobileMenu();
    });
</script>

<style>
    .search-wrapper :global(.pagefind-ui) {
        @apply h-12 overflow-visible;
    }
    .search-wrapper :global(.pagefind-ui .pagefind-ui__search-input) {
        @apply h-12 bg-background text-foreground !important;
    }
    .search-wrapper :global(.pagefind-ui .pagefind-ui__search-clear) {
        @apply h-11 bg-transparent !important;
    }
    .search-wrapper :global(.pagefind-ui .pagefind-ui__drawer) {
        @apply bg-background/60 text-foreground  pl-5 pr-2 rounded-md shadow-md h-auto !important;
    }
    .search-wrapper :global(.pagefind-ui .pagefind-ui__message) {
        @apply pt-0 !important;
    }
    .search-wrapper :global(.pagefind-ui .pagefind-ui__result-link) {
        @apply text-foreground !important;
    }

</style>
