---
import { getCollection } from "astro:content";
import PostList from "./PostList.astro";
import ProfileCard from "./ProfileCard.astro";
import PaginationNa from "./PaginationNa.astro";
import SideTags from "./SideTags.astro";
import SideInfo from "./SideInfo.astro";
const posts = await getCollection("posts");
const { page } = Astro.props;

const {currentPage, lastPage: totalPages } = page;


---

<main
  class="flex flex-col mt-24 lg:flex-row px-2 lg:px-2 max-w-7xl mx-auto min-w-[320px]"
>
  <div
    class="w-full lg:w-3/4 p-1 mb-6 lg:mb-0 lg:mr-3 transition-all duration-300 ease-linear"
  >
    <PostList posts={page.data} />
    
    <PaginationNa currentPage={currentPage} totalPages={totalPages} baseUrl="/blog"/>
  </div>
  <div
    class="w-full lg:w-1/4 p-1 overflow-hidden transition duration-300 ease-linear
                max-h-0 opacity-0 lg:max-h-[1000px] lg:opacity-100"
  >
    <ProfileCard />
    <SideTags posts={posts}/>
    <SideInfo />
  </div>
</main>
