---
import type { CollectionEntry } from "astro:content";
import Post from "@/components/PostCard.astro";
type Props = {
    posts: CollectionEntry<'posts'>[],
    tag?: string
}
const {posts, tag} = Astro.props
const filteredPosts = tag 
    ? posts.filter(post => post.data.tags && post.data.tags.includes(tag))
    : posts;

const sortedPosts = filteredPosts.sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<div
    class="px-6 grid grid-cols-1 gap-x-16 gap-y-6 max-md:grid-cols-1 mb-6"
>
    {sortedPosts.map(post => <Post post={post} />)}
</div>



