---
import { getCollection } from "astro:content";
import { TagIcon } from "lucide-react";

const allPosts = await getCollection('posts');
const tagCounts = allPosts.reduce((acc, post) => {
  post.data.tags?.forEach(tag => {
    acc[tag] = (acc[tag] || 0) + 1;
  });
  return acc;
}, {} as Record<string, number>);

const tags = Object.entries(tagCounts).map(([tag, count]) => ({ tag, count }));
---

<div class="flex flex-col w-full  mt-6">
    <div class="flex">
        <TagIcon/>
        <h2 class="pl-2 text-lg">Tags</h2>
      </div>
      <div class="border-b border-gray-300 mb-1"></div>
    <div class="p-1">
        {tags.map(({ tag, count }) => (
          <a 
            href={`/tags/${tag}`}
            class="inline-block px-2 py-1 m-1 text-sm rounded-md border border-gray-600 text-gray-600 hover:border-yellow-700 hover:text-yellow-700 transition-colors duration-200"
          >
            {tag} ({count})
          </a>
        ))}
      </div>
</div>
