---
import VercelAnalytics from "./VercelAnalytics.astro";
---
<div class="flex flex-col w-full bg-white mt-6 rounded-lg shadow-lg">
    <div class="bg-gradient-to-r from-teal-400 to-cyan-400 px-4 py-3 rounded-t-lg">
        <h2 class="text-lg font-semibold text-white">Info</h2>
    </div>
    <VercelAnalytics />
</div>
