---
import { getCollection } from "astro:content";

const allPosts = await getCollection('posts');
const tagCounts = allPosts.reduce((acc, post) => {
  post.data.tags?.forEach(tag => {
    acc[tag] = (acc[tag] || 0) + 1;
  });
  return acc;
}, {} as Record<string, number>);

const tags = Object.entries(tagCounts).map(([tag, count]) => ({ tag, count }));


---

<div class="flex flex-col w-full bg-background/70 mt-6 rounded-lg shadow-lg">
    <div class="bg-gradient-to-r from-teal-400 to-cyan-400 dark:from-teal-800 dark:to-cyan-900 hover:bg-gradient-to-r hover:from-teal-500 hover:to-cyan-500 px-4 py-3 rounded-t-lg">
        <h2 class="text-lg font-semibold text-white">Tags</h2>
      </div>
    <div class="p-5">
        {tags.map(({ tag, count }) => (
          <a 
            href={`/tags/${tag}`}
            class="inline-block px-2 py-1 m-1 text-sm bg-teal-100 dark:bg-cyan-900 rounded-full hover:bg-blue-200 dark:hover:bg-blue-800 transition-colors duration-200"
          >
            {tag} ({count})
          </a>
        ))}
      </div>
</div>
