---
import Foot from "@/components/Foot.astro";
import Header from "../components/Header.astro"
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "A community of music producers and",  image = "/iamges/BRAND.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/veg.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<ViewTransitions/>
		<title>{title}</title>

		
	</head>
	<body class="flex flex-col min-h-screen  bg-fixed bg-no-repeat
	 bg-gradient-to-br from-stone-50 to-orange-50 dark:from-gray-800 dark:to-stone-600">
		<Header />
		<slot />
		<Foot />
	</body>
	
</html>


